In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
df=pd.read_csv(r"..\csv_files\titanic\train.csv")
test=pd.read_csv(r"..\csv_files\titanic\train.csv")

In [72]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [73]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [74]:
df['Age'].fillna(df['Age'].median(), inplace=True)

In [75]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [76]:
X=df.drop(['Survived','PassengerId', 'Name', 'Cabin'], axis=1)
y = df['Survived']

In [77]:
X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})

In [78]:
X = pd.get_dummies(X, columns=['Embarked', 'Ticket'], drop_first=True)

In [79]:
X

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Ticket_110413,Ticket_110465,...,Ticket_STON/O2. 3101290,Ticket_SW/PP 751,Ticket_W./C. 14258,Ticket_W./C. 14263,Ticket_W./C. 6607,Ticket_W./C. 6608,Ticket_W./C. 6609,Ticket_W.E.P. 5734,Ticket_W/C 14208,Ticket_WE/P 5735
0,3,0,22.0,1,0,7.2500,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,1,38.0,1,0,71.2833,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3,1,26.0,0,0,7.9250,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,1,35.0,1,0,53.1000,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3,0,35.0,0,0,8.0500,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,0,27.0,0,0,13.0000,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
887,1,1,19.0,0,0,30.0000,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
888,3,1,28.0,1,2,23.4500,False,True,False,False,...,False,False,False,False,True,False,False,False,False,False
889,1,0,26.0,0,0,30.0000,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
890,3,0,32.0,0,0,7.7500,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:

correlation_matrix = X.corr()
print(correlation_matrix['Survived'])