In [124]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [125]:
df=pd.read_csv(r"..\csv_files\titanic\train.csv")
test=pd.read_csv(r"..\csv_files\titanic\test.csv")

In [126]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [127]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [128]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [129]:
df['Age'].fillna(df['Age'].median(), inplace=True)
test['Age'].fillna(test['Age'].median(), inplace=True)

In [130]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

In [131]:
X=df.drop(['Survived','PassengerId', 'Name', 'Cabin'], axis=1)
y = df['Survived']
X_test=test.drop(['PassengerId', 'Name', 'Cabin'], axis=1)

In [132]:
X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})
X_test['Sex'] = X_test['Sex'].map({'male': 0, 'female': 1})

In [133]:
X = pd.get_dummies(X, columns=['Embarked', 'Ticket'], drop_first=True)
X_test = pd.get_dummies(X_test, columns=['Embarked', 'Ticket'], drop_first=True)
X_test, X = X_test.align(X, join='left', axis=1)

In [134]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
model.fit(X, y)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score

In [135]:
submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': y_pred
    })
submission.to_csv('submission.csv', index=False)